// description

.description {
  @include list-reset;
  @include font-family($font-family-secondary, 400, 12px, 133%);
  text-align: center;
  color: $text-color-special;
}

.description__item {
  display: flex;
  justify-content: space-between;
}
