// example

.example {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: $bg-color-primary;
}

.example__heading {
  @include font-family($font-family-primary, 400, 36px, 111%);
  margin: 0 0 20px;
  color: $text-color-main;
}

.example__text {
  @include font-family($font-family-secondary, 400, 14px, 129%);
  margin: 0;
  color: $text-color-special;
}

.example__list {
  @include list-reset;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.example__item {
  text-align: center;
}

.example__term {
  @include font-family($font-family-primary, 400, 24px, 100%);
  margin: 0;
  color: $text-color-main;
  padding: 12px 0 17px;
  border: 2px solid $decoration-color-secondary;
  border-radius: 4px;
  text-transform: uppercase;
}

.example__definition {
  @include font-family($font-family-secondary, 400, 12px, 100%);
  margin: -12px 20% 0;
  text-align: center;
  background-color: $bg-color-primary;
  color: $text-color-special;
}

.example__description {
  @include font-family($font-family-primary, 400, 14px, 143%);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-main;
}

.example__slider {
  margin: 0 auto;
}
