// invite

.invite {
  display: grid;
  grid-template-columns: 1fr;
}

.invite--second {
  background-color: $bg-color-primary;
}

.invite__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 20px;
}

.invite__heading {
  @include font-family($font-family-primary, 400, 16px, 125%);
  margin: 0;
  text-transform: uppercase;
  color: $text-color-main;
}

.invite__text {
  @include font-family($font-family-secondary, 400, 14px, 143%);
  margin: 0;
  color: $text-color-special;
}

.invite__map {
  width: 100%;
  min-height: 362px;
}
