// logo

.logo {
  display: flex;
  align-items: center;
}

.logo__header {
  display: flex;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.6;
    outline: 2px solid $bg-color-secondary;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__footer {
  place-self: center center;
  color: $logo-color;

  &:hover {
    color: $logo-color-hover;
  }

  &:focus-visible {
    color: $logo-color-hover;
    outline: 2px solid $bg-color-secondary;
  }

  &:active {
    color: $logo-color-active;
  }
}

// tablet

@media (min-width: $tablet-width) {
  .logo__footer {
    place-self: center start;
  }
}
