// page-footer

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-footer__logo {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.page-footer__htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  text-decoration: none;
}

.htmlacademy__text {
  margin: 0;
  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: $text-color-special;
}
